<html ng-app="Sharing">
	<head>
		<script src="angular.js"></script>
		<script>
		var sharing = angular.module("Sharing",[]);
		sharing.controller("One",function($scope,$rootScope){
			$scope.click = function(){
				$rootScope.info = $scope.name;
			}
		});
		sharing.controller("Two",function($scope,$rootScope){
			$rootScope.$watch(function(){
				console.log("Watching...");
				return $rootScope.info;
			},function(newValue){
				if(newValue)
					$scope.message = "Hi " + newValue;
			});
		});
		</script>
	</head>	
	<body>
		<div ng-controller="One">
			<input type="text" 
				placeholder="Name"
				ng-model="name">
			<input type="button" 
				value="Click" ng-click="click()">	
		</div>
		<div ng-controller="Two">
			<h1>{{message}}</h1>
		</div>		
	</body>	
</html>